<ion-header style="background-color: aqua">
  <ion-toolbar>
    <ion-title >Donate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="welcome-card">
        <ion-img src="/assets/images/7.jpeg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Now you can do online donation though NEFT/BHIM UPI/ Account Transfer</ion-card-subtitle>
          <!-- <ion-card-title>Donation</ion-card-title> -->
        </ion-card-header>
        <ion-card-content>
          <p>
            Account Number : <b><i>99999999999999</i></b><br/>
            IFSC Code : <b><i>99999999999999</i></b><br/>
            Bank Name: Karur Vaisya Bank<br/>
            Bank Branch: Keshav Puram New Delhi

  
          </p>
        </ion-card-content>
      </ion-card>
</ion-content>
