<ion-header>
  <ion-toolbar>
    <ion-title>
      Darshan

    </ion-title>
  </ion-toolbar>
  

</ion-header>

<ion-content>

  
  <mat-card>

    <mat-grid-list  [cols]="breakpoint"  rowHeight="2:1">
      <mat-grid-tile>

        <img src="../../assets/images/ganesha.JPG" class="img-responsive" />
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../../assets/images/hanuman.JPG" class="img-responsive"/>

      </mat-grid-tile>
      <mat-grid-tile>

        <img src="../../assets/images/durga_mata.JPG" class="img-responsive" />
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../../assets/images/ram_darbaar_close_look.JPG" class="img-responsive"/>

      </mat-grid-tile>
      <mat-grid-tile>

        <img src="../../assets/images/radhey_krishna.JPG" class="img-responsive"/>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../../assets/images/shiva_linga.JPG" class="img-responsive"/>

      </mat-grid-tile>

      <mat-grid-tile>

        <img src="../../assets/images/santoshi_mata.JPG" class="img-responsive"/>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../../assets/images/sarswati_mata.JPG" class="img-responsive"/>

      </mat-grid-tile>

      <mat-grid-tile>

        <img src="../../assets/images/shiva_glass_painting.JPG" class="img-responsive"/>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../../assets/images/santoshi_mata_close_look.JPG" class="img-responsive"/>

      </mat-grid-tile>
      <mat-grid-tile>

        <img src="../../assets/images/khatushyam.JPG" class="img-responsive"/>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../../assets/images/satsang_bhawan_gate.JPG" class="img-responsive"/>

      </mat-grid-tile>
    </mat-grid-list>
    
  </mat-card>

  
</ion-content>
