<ion-header>
  <ion-toolbar>
    <ion-title>
      Important Contact Details
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>


      <ion-card class="welcome-card">
        <ion-img src="/assets/images/7.jpeg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>President</ion-card-subtitle>
          <ion-card-title>Mr ABC </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            About President ....... <br/>
            About President .......<br/>
            About President .......<br/>
            About President .......<br/>
            About President .......<br/>
            About President .......<br/>
            About President .......
          </p>
        </ion-card-content>
      </ion-card>
 
    
      <ion-card class="welcome-card">
        <ion-img src="/assets/images/8.jpeg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Secretary </ion-card-subtitle>
          <ion-card-title>Mr XYZ </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            About Secretary ....... <br/>
            About Secretary .......<br/>
            About Secretary .......<br/>
            About Secretary .......<br/>
           
          </p>
        </ion-card-content>
      </ion-card>
  


      <ion-card class="welcome-card">
        <ion-img src="/assets/images/5.jpeg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Cashier</ion-card-subtitle>
          <ion-card-title>Mr ABC </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            About Cashier ....... <br/>
            About Cashier .......<br/>
            About Cashier .......<br/>
            About Cashier .......<br/>
            About Cashier .......<br/>
          
          </p>
        </ion-card-content>
      </ion-card>
    
</ion-content>
